FestiveLights
[
    {
        "id": "b59dd75cbaca4581",
        "type": "tab",
        "label": "Christmas",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9d9f20492def0f3c",
        "type": "api-call-service",
        "z": "b59dd75cbaca4581",
        "name": "festiveLightsOn",
        "server": "315411fb.df557e",
        "version": 7,
        "debugenabled": false,
        "action": "homeassistant.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.smart_switch_1806297051516329081534298f15af15_outlet",
            "switch.tree"
        ],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "homeassistant",
        "service": "turn_on",
        "x": 1040,
        "y": 320,
        "wires": [
            [
                "3df4506021962b57"
            ]
        ]
    },
    {
        "id": "bd2bf5694e7dac5a",
        "type": "api-call-service",
        "z": "b59dd75cbaca4581",
        "name": "festiveLightsOff",
        "server": "315411fb.df557e",
        "version": 7,
        "debugenabled": false,
        "action": "homeassistant.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.smart_switch_1806297051516329081534298f15af15_outlet",
            "switch.tree"
        ],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "homeassistant",
        "service": "turn_off",
        "x": 1040,
        "y": 400,
        "wires": [
            [
                "eedc25be5331302b"
            ]
        ]
    },
    {
        "id": "eedc25be5331302b",
        "type": "function",
        "z": "b59dd75cbaca4581",
        "name": "festiveLightsOn false",
        "func": "flow.set(\"festiveLightsOn\", false);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "3df4506021962b57",
        "type": "function",
        "z": "b59dd75cbaca4581",
        "name": "festiveLightsOn true",
        "func": "flow.set(\"festiveLightsOn\", true);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "32adcdc84531070f",
        "type": "inject",
        "z": "b59dd75cbaca4581",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "On",
        "payloadType": "str",
        "x": 330,
        "y": 300,
        "wires": [
            [
                "cef94a1aa65fa734"
            ]
        ]
    },
    {
        "id": "16cface8a333a506",
        "type": "inject",
        "z": "b59dd75cbaca4581",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Off",
        "payloadType": "str",
        "x": 330,
        "y": 340,
        "wires": [
            [
                "cef94a1aa65fa734"
            ]
        ]
    },
    {
        "id": "cef94a1aa65fa734",
        "type": "bigtimer",
        "z": "b59dd75cbaca4581",
        "outtopic": "",
        "outpayload1": "",
        "outpayload2": "",
        "name": "Big Timer",
        "comment": "",
        "lat": "51.35196222934698",
        "lon": "0.5399979343909518",
        "starttime": "405",
        "endtime": "540",
        "starttime2": "5001",
        "endtime2": "1439",
        "startoff": "0",
        "endoff": 0,
        "startoff2": "-47",
        "endoff2": 0,
        "offs": 0,
        "outtext1": "on",
        "outtext2": "off",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": 0,
        "month7": 0,
        "day8": 0,
        "month8": 0,
        "day9": 0,
        "month9": 0,
        "day10": 0,
        "month10": 0,
        "day11": 0,
        "month11": 0,
        "day12": 0,
        "month12": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xday7": 0,
        "xmonth7": 0,
        "xday8": 0,
        "xmonth8": 0,
        "xday9": 0,
        "xmonth9": 0,
        "xday10": 0,
        "xmonth10": 0,
        "xday11": 0,
        "xmonth11": 0,
        "xday12": 0,
        "xmonth12": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 500,
        "y": 360,
        "wires": [
            [],
            [],
            [
                "2e28af97d6b61a3f",
                "5b8c38808b6b34a9"
            ]
        ]
    },
    {
        "id": "3eaa4142dc2aefcb",
        "type": "switch",
        "z": "b59dd75cbaca4581",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 360,
        "wires": [
            [
                "9d9f20492def0f3c"
            ],
            [
                "bd2bf5694e7dac5a"
            ]
        ]
    },
    {
        "id": "4e0ebc7f3291add7",
        "type": "inject",
        "z": "b59dd75cbaca4581",
        "name": "auto",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "auto",
        "payloadType": "msg",
        "x": 330,
        "y": 420,
        "wires": [
            [
                "cef94a1aa65fa734"
            ]
        ]
    },
    {
        "id": "2e28af97d6b61a3f",
        "type": "debug",
        "z": "b59dd75cbaca4581",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 280,
        "wires": []
    },
    {
        "id": "76ced351a9128923",
        "type": "server-state-changed",
        "z": "b59dd75cbaca4581",
        "name": "Festive Surge On/Off",
        "server": "315411fb.df557e",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "switch.smart_switch_1806297051516329081534298f15af15_outlet"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": true,
        "stateType": "str",
        "ifState": "On",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "x": 280,
        "y": 640,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2b48df66e8a4b1ec",
        "type": "api-call-service",
        "z": "b59dd75cbaca4581",
        "name": "festiveLightsOn",
        "server": "315411fb.df557e",
        "version": 7,
        "debugenabled": false,
        "action": "homeassistant.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.smart_switch_1806297051516329081534298f15af15_outlet_2",
            "switch.smart_switch_1806297051516329081534298f15af15_outlet_3",
            "switch.smart_switch_1806297051516329081534298f15af15_outlet_4",
            "switch.smart_switch_1806297051516329081534298f15af15_outlet_5"
        ],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "homeassistant",
        "service": "turn_on",
        "x": 620,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "507d50957e24c1e1",
        "type": "api-call-service",
        "z": "b59dd75cbaca4581",
        "name": "festiveLightsOff",
        "server": "315411fb.df557e",
        "version": 7,
        "debugenabled": false,
        "action": "homeassistant.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.smart_switch_1806297051516329081534298f15af15_outlet_2",
            "switch.smart_switch_1806297051516329081534298f15af15_outlet_3",
            "switch.smart_switch_1806297051516329081534298f15af15_outlet_4",
            "switch.smart_switch_1806297051516329081534298f15af15_outlet_5"
        ],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "homeassistant",
        "service": "turn_off",
        "x": 620,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "ec90178cd2688fde",
        "type": "switch",
        "z": "b59dd75cbaca4581",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "On",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 640,
        "wires": [
            [
                "2b48df66e8a4b1ec"
            ],
            [
                "507d50957e24c1e1"
            ]
        ]
    },
    {
        "id": "7feeffba5f9c50c2",
        "type": "inject",
        "z": "b59dd75cbaca4581",
        "name": "default ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "default",
        "payloadType": "str",
        "x": 330,
        "y": 380,
        "wires": [
            [
                "cef94a1aa65fa734"
            ]
        ]
    },
    {
        "id": "253e5943de70442f",
        "type": "server-state-changed",
        "z": "b59dd75cbaca4581",
        "name": "holidayMode",
        "server": "315411fb.df557e",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_boolean.holidaymode"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": true,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": false,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 130,
        "y": 260,
        "wires": [
            [
                "f3ddb95c6ae79b68"
            ]
        ]
    },
    {
        "id": "f3ddb95c6ae79b68",
        "type": "function",
        "z": "b59dd75cbaca4581",
        "name": "holidayMode",
        "func": "flow.set(\"holidayMode\",msg.payload);\nvar holidayMode = flow.get(\"holidayMode\");\nif (holidayMode === \"on\") {\n        msg.payload = \"default\"\n        return msg;\n    }\nelse {\n    msg.payload = \"off\"\n    return msg;\n}\n//return msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 260,
        "wires": [
            [
                "cef94a1aa65fa734"
            ]
        ]
    },
    {
        "id": "5b8c38808b6b34a9",
        "type": "function",
        "z": "b59dd75cbaca4581",
        "name": "on/off",
        "func": "var holidayMode = flow.get(\"holidayMode\");\nvar festiveLightsOn = flow.get(\"festiveLightsOn\");\n\nif (msg.payload === \"on\" && holidayMode === \"on\") {\n        msg.payload = \"on\"\n        return msg;\n    }\nelse if (festiveLightsOn !== false) {\n    msg.payload = \"off\"\n    return msg;\n}\n//return msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 360,
        "wires": [
            [
                "3eaa4142dc2aefcb",
                "71ecc3ece4b015a7"
            ]
        ]
    },
    {
        "id": "71ecc3ece4b015a7",
        "type": "debug",
        "z": "b59dd75cbaca4581",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 280,
        "wires": []
    },
    {
        "id": "315411fb.df557e",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": 30,
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]
